.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}


.App-header {
  width: 100%;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Dot {
  cursor:pointer;
}

.SelectIndicator {
  display: table;
  padding: 5px;
  margin:5px;
}

.World {
  padding:5px;
  margin:5px;
  background-color: lightyellow;
  width:90%
}

.ColorScaleFig {
  fill:black;
  stroke:none;
}

.Chart {
  padding:5px;
  margin: 5px;
  width: 90%;
  background-color: rgb(243, 243, 196);
}

.Button {
  cursor:pointer;
  rx:5;
} 
.Button + text {
  cursor:pointer;
}
.Button.Down {
  fill:black;
}
.Button.Up {
  fill:lightyellow;
}

.Header {
  display: inline-block;
}

.Country {
  cursor: pointer;
}