body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.Dot {
  cursor: pointer;
}

.SelectIndicator {
  display: table;
  padding: 5px;
  margin: 5px;
}

.World {
  padding: 5px;
  margin: 5px;
  background-color: lightyellow;
  width: 90%;
}

.ColorScaleFig {
  fill: black;
  stroke: none;
}

.Timeline {
  padding: 5px;
  margin: 5px;
  width: 90%;
  background-color: lightyellow;
}

.Button {
  cursor: pointer;
}

.Button + text {
  cursor: pointer;
}

.Button.Down {
  fill: black;
}

.Button.Up {
  fill: lightyellow;
}

.Header {
  display: inline-block;
}

.Country {
  cursor: pointer;
}
